@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Kaushan+Script&display=swap');

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Kaushan Script', cursive;
  margin: 0;
  overflow: hidden;
  text-align: center
}

.logo {
  font-family: 'Creepster', system-ui;
  font-weight: lighter;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}