@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Kaushan+Script&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --main: #780202;
  --dark: #111;
  --light: #fafafa;
}

body {
  height: 100vh;
  background-color: var(--dark); 
  color: var(--light);
  font-family: 'Kaushan Script', cursive;
  margin: 0;
  overflow: hidden;
  text-align: center
}

.logo {
  font-family: 'Creepster', system-ui;
  font-weight: lighter;
  color: var(--main);
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.choose-enemy-btn img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}