@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Kaushan+Script&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --main: #780202;
  --dark: #111;
  --light: #fafafa;
  --transition: all 0.5s ease-in-out;
}

body {
  height: 100vh;
  background-color: var(--dark); 
  color: var(--light);
  font-family: 'Kaushan Script', cursive;
  margin: 0;
  overflow: hidden;
  text-align: center
}

.logo {
  font-family: 'Creepster', system-ui;
  font-weight: lighter;
  font-size: 3rem;
  color: var(--main);
}

.btn {
  background-color: transparent;
  color: var(--main);
  border: 2px solid var(--main);
  font-family: inherit;
  font-size: 2rem;
  padding: 0.5rem 1.5rem;
  outline: none;
  cursor: pointer;
  transition: var(--transition);
}

.btn:hover {
  background-color: var(--main);
  color: var(--dark);
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.choose-enemy-btn img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}